<!DOCTYPE html>
<html lang="ru">


<head>
    <meta charset="utf-8" />
    <title>{% block title %}RoomSecurity {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/js/collapse.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/js/dropdown.js') }}"></script>
<script>

document.addEventListener("DOMContentLoaded", function(event) 
{ 
    
  if (!document.getElementById('aside')) document.getElementById('main').className="col-md-12";
  
  machineId=1;
  while (document.getElementById('machine'+machineId.toString()))
  {
      loadMachineStatus(machineId);
      setInterval("loadMachineStatus("+machineId+");", 3000);
      machineId++;
  }
});

function loadMachineStatus(machineId)
{
    var placeholder=document.getElementById('machine'+machineId.toString());
    if (placeholder)
    {
        var address="/machine_ajax/status/"+machineId.toString();
        var request="";
        var xhr = new XMLHttpRequest();

        xhr.open('GET', address, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xhr.onreadystatechange = function() { // (3)
            if (xhr.readyState != 4) return;

            

            if (xhr.status != 200) {
                //alert(xhr.status + ': ' + xhr.statusText);
            } else {
                placeholder.innerHTML=xhr.responseText;
                //alert(xhr.responseText);
                //window.open(request);
            }

        }
        
        xhr.send(request);
    }
}

</script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RoomSecurity</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
{#
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
#}
{#
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
#}
      <ul class="nav navbar-nav navbar-right">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{#
            <li><a href="#">Link</a></li>
#}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ app.user.username }}  <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Личный кабинет</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Выход из системы</a></li>
          </ul>
        </li>
{% else %}
            <li><a href="/login">Вход в систему</a></li>
{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>      


<div class="container-fluid">    
        {{ render(controller('AppBundle:AdminSidebar:index')) }}
    <main class="col-md-9" id="main">
        {% block body %}{% endblock %}
    </main>
</div>

</body>

</html>
